@media(min-width: 960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }
}

#movie .row {
    margin: 0;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: #9d9d9d;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 15px 25px 15px 25px;
    width: 100%;
    z-index: 100;
}
